.sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #17212b;

    box-shadow: 0 3px 2px 0 #151e27 inset;
}

.sidebar .nav {
    margin-top: 12px;
}

.countBlock {
    margin-top: 15px;

    text-align: center;
    font-size: 1.1rem;
}